<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Team</h4>
          <p>Alessio Caporale</p>
          <p>Luca Maddaluno</p>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Admin access</h4>
          <div class="ui inverted link list">
            <a href="{{ url_for('admin') }}" class="item">Admin</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Info</h4>
          <p>Progetto di Basi di Dati 2</p>
          <p>A.A. 2020/2021</p>
          
        </div>
        <div class="three wide column">
            <h4 class="ui inverted header">Source code</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">GitHub</a>
            </div>
          </div>
      </div>
    </div>
  </div>